@inject NavigationManager NavigationManager
@*@inject ExampleService ExampleService*@
@using FrontApp.Models

@*<title>@ExampleService.TitleFor(example)</title>
<meta name="description" content="@ExampleService.DescriptionFor(example)">
@code {
    Example example;

    protected override void OnInitialized()
    {
        example = ExampleService.FindCurrent(NavigationManager.ToAbsoluteUri(NavigationManager.Uri));
    }
}*@
